<html>

<!DOCTYPE html>
<html lang="en">
  
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/fontello.css">
    
<!-- Footer -->
<footer class="page-footer otroFooter  font-small blue-grey lighten-5">

    <div style="background-color: white">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0"><a href="http://localhost:8000/home"><b>Volver a homepage</b></a></h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Instagram -->
            <a class="ins-ic" href="https://msng.link/o/?MiApp=ig">
              <i class="icon-instagram"> </i>
            </a>
            <!-- Facebook -->
            <a class="fc-ic" href="https://www.facebook.com/sharer/sharer.php?u=">
              <i class="icon-facebook"> </i>
            </a>
            <!-- Twitter-->
            <a class="gplus-ic" href="https://twitter.com/intent/tweet?text=">
              <i class="icon-twitter"> </i>
            </a>
            <!--WhatsApp -->
            <a class="" href="https://msng.link/o/?099101103=wa"> 
              <i class="icon-whatsapp mr-2"> </i>
            </a>
            <!--Telegram-->
            <a class="" href="https://msng.link/o/?MiApp=tg">
              <i class="icon-telegram mr-2"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    
  
  </footer>
  
  <script src="assets/js/jquery-3.3.1.js"></script>
      <script src="assets/js/bootstrap.js"></script> 
      <script src= "/app.js"></script>

</html>