<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviado</title>
    
   <section class= "container">
<h3>Su mensaje ha sido enviado correctamente.</h3>

   </section>

   <section>
      <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="http://localhost:8000/home">Volver</a>
  </li>
  
</ul>
   </section>
    

</head>
<body>
      <header> </heade
    
</body>
</html>
