<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiApp</title>
    
   
    </head>
      <body>
                    
        <!--Header-->
         {{>header}} 
                     
        <main role="main">
    
          <section class="jumbotron text-center gradient-custom">
            <div class="container">
              <h1 class="jumbotron-heading"><b>Trabajos realizados</b></h1>
            </div>
          </section>
    
          <div class="miBanner">
            <div class="container">
              <div class="containerGaleria">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  src="/assets/img/16.jpeg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text"><b>Aplicación para rentadora de vehículos. Reservas inmediatas y amigables.</b></p>
                      <div class="d-flex justify-content-between align-items-center">                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  src="/assets/img/8.jpeg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text"><b>App para promoción de grupo musical. Nexo directo con el público. Promociones.</b></p>
                      <div class="d-flex justify-content-between align-items-center">                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  src="/assets/img/3.jpeg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text"><b>Ayudamos a controlar la salud y el rendimiento de deportistas.</b></p>
                      <div class="d-flex justify-content-between align-items-center">                      
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  src="/assets/img/15.jpeg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text"><b>El trading ahora es más fácil aplicando inteligencia artificial.</b></p>
                      <div class="d-flex justify-content-between align-items-center">                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  src="/assets/img/4.jpeg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text"><b>Tecnología aplicada a la mejora y control de crecimiento de plantas.</b></p>
                      <div class="d-flex justify-content-between align-items-center">                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top"  src="/assets/img/5.jpeg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text"><b>También colaboramos en proyectos de arquitectura.</b></p>
                      <div class="d-flex justify-content-between align-items-center">                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
                  
            
            <div class=" arriba col-md-12">
              <p class="float-right">
                <a href="#"><b>Ir arriba</b></a>
              </p>                    
            </div>                   
        </main>   
      </section>

     <!-- Footer -->
    
        {{>footer1}} 
            
           
    
     
</body>
</html>

